

@import "./normalize.css";

@font-face {
    font-family: 'Roboto';
    src: url(../aseets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

.wrapper_content {
    display: flex;
    flex-direction: column;
    background-image: url(../aseets/images/products_images/background\ 1.png);
    background-repeat: no-repeat; 
    color:#FFFFFF;
    font-size: 18px;
    font-family: 'Roboto';

}

.container {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 161px;
}

.header_logo {
    display: flex;
    align-items: flex-end;
    margin-top: 51px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.header_logo:hover {
    opacity: 0;
}

.header_logo-hover {
    position: absolute;
    display: flex;
    align-items: flex-end;
    color: #F26522;
    margin-top: 51px;
    z-index: 1;
}

.header_logo-hover:hover {
    z-index: 3;
    opacity: 1;
}

.logo_text-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.logo_text1 {
    font-size: 29px;
}

.logo_image {
    width: 53px;
    height: 47px;
    margin-right: 8px;
}

.header_contacts {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    margin-top: 46px;
    margin-right: 177px;
}

.header_contacts > a:hover {
    color: #F26522;
}

.header__tel {
    margin-top: 19px;
}

.main {
    margin: 17px 178px 0 161px;
}

.price_products {
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 295px;
    height: 55px;
    justify-content: start;  
    background-color: #F26522;
    padding: 7px 14px 12px 16px;
    color:#FFFFFF;
}

.price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
}

.text__price_decoration-from {
    font-size: 10px;
}

.text__price_decoration-price {
    font-size: 20px;
}

.text__price_decoration-view_detals {
    font-size: 14px;
}

.text__price_decoration-view_detals::after  {
    content: ">";
    width: 5px;
    height: 10px;
    margin-left: 16px;
}

.title {
    margin-top: 20px;
    text-align: center;
}

.main_item-orange {
    position: absolute;
    left: 3px;
    top: 165px;
    transition: transform .9s ease-in-out;
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
}

.main_card1 {
    display: flex;
    justify-items: center;
}

.card1 {
    position: relative;
    z-index: 2;
}

.card1:hover {
    opacity: 0;
}

.card1_hover {
    position: absolute;
    color: #F26522;
}

.card1_hover:hover {
    z-index: 3;
    opacity: 1;
}

.main_cards2 {
    display: flex;
    justify-items: center;
}

.card2 {
    position: relative;
    z-index: 2;
}

.card2:hover {
    opacity: 0;
}

.card2_hover {
    position: absolute;
    color: #F26522;
}

.card2_hover:hover {
    z-index: 3;
    opacity: 1;
}

.main_cards3 {
    display: flex;
    justify-items: center;
}

.card3 {
    position: relative;
    z-index: 2;
}

.card3:hover {
    opacity: 0;
}

.card3_hover {
    position: absolute;
    color: #F26522;
}

.card3_hover:hover {
    z-index: 3;
    opacity: 1;
}

.row2 {
    margin-top: 37px;
}

.main_cards4 {
    display: flex;
    justify-items: center;
}

.card4 {
    position: relative;
    z-index: 2;
}

.card4:hover {
    opacity: 0;
}

.card4_hover {
    position: absolute;
    color: #F26522;
}

.card4_hover:hover {
    z-index: 3;
    opacity: 1;
}

.main_cards5 {
    display: flex;
    justify-items: center;
}

.card5 {
    position: relative;
    z-index: 2;
}

.card5:hover {
    opacity: 0;
}

.card5_hover {
    position: absolute;
    color: #F26522;
}

.card5_hover:hover {
    z-index: 3;
    opacity: 1;
}

.main_cards6 {
    display: flex;
    justify-items: center;
}

.card6 {
    position: relative;
    z-index: 2;
}

.card6:hover {
    opacity: 0;
}

.card6_hover {
    position: absolute;
    color: #F26522;
}

.card6_hover:hover {
    z-index: 3;
    opacity: 1;
}


.foto1, .foto2, .foto3, .foto4, .foto5, .foto6 {
    width: 300px;
    height: 220px;
    border: 2px solid white;
    border-image: radial-gradient(white, white, black);
    border-image-slice: 1;
}

.footer {
    text-align: center;
    margin-top: 49px;
    font-size: 12px;
}